{
  "benchmark_files": [
    "/home/tim/Documents/workspace/RCPSP_6/j60/J6030_2.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j60/J6017_1.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j60/J6017_2.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j60/J6017_3.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j60/J6017_4.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j60/J6017_5.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j60/J6017_6.RCP",   
    "/home/tim/Documents/workspace/RCPSP_6/j120/X10_7.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X11_3.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_1.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_2.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_3.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_4.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_5.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_6.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_7.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_8.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_9.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_10.RCP"
    
  ],
  "program_calls": [  
    "java rcpsp.Solver %inputfile% sol.txt 30 %seed%"   
  ]
}

