{
  "benchmark_files": [
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X6_8.RCP",
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X9_6.RCP",
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X10_9.RCP",
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X27_6.RCP",
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X30_8.RCP",
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X42_7.RCP",
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X51_6.RCP",
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X55_10.RCP",
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X58_3.RCP",
    "/home/felix/projects/uni/Gruppe6_RCPSP/j120/X59_3.RCP"
  ],
  "seeds": [
    85838798,
    84183543,
    9459607,
    40594335,
    59528639,
    8948803,
    61045676,
    55911072,
    41299189,
    81907177
  ],
  "program_calls": [  
    "java rcpsp.Solver %inputfile% sol.txt 60 %seed%"
  ]
}

