{
  "benchmark_files": [
    "/home/tim/Documents/workspace/RCPSP_6/j60/J6030_2.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X10_7.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X11_3.RCP",
    "/home/tim/Documents/workspace/RCPSP_6/j120/X34_3.RCP"
    
  ],
  "program_calls": [  
    "java rcpsp.Solver %inputfile% sol.txt 5 %seed%",
    "java rcpsp.Solver %inputfile% sol.txt 30 %seed%",
    "java rcpsp.Solver %inputfile% sol.txt 120 %seed%"
  ]
}

